enghin
/enghin
node_modules
*.json
*.log
*.gz
*.pkl
*.bin
*.zip
__pycache__
2019\ -\ Neural\ QA\ model/xmltodict.py
2020\ -\ Neural\ QA\ model/xmltodict.py
2019\ -\ Neural\ QA\ model/data/Monument_300/training_checkpoints/*
2019\ -\ Neural\ QA\ model/data/Monument_300/training_log.txt
2020\ -\ Neural\ QA\ model/data/Monument_300/training_checkpoints_glove100/*
2020\ -\ Neural\ QA\ model/data/Monument_300/training_log_glove100.txt
2020\ -\ Neural\ QA\ model/data/Monument_300_paraphrase/training_checkpoints_glove100/*
2020\ -\ Neural\ QA\ model/data/Monument_300_paraphrase/training_log_glove100.txt
2020\ -\ Neural\ QA\ model/Monument/curr_ckpt
2020\ -\ Neural\ QA\ model/Glove/*
2020\ -\ Neural\ QA\ model/data/Monument_300/embed100.en
2020\ -\ Neural\ QA\ model/data/Monument_300_paraphrase/embed100.en
2020\ -\ Neural\ QA\ model/data/Monument_300/embed300.en
2020\ -\ Neural\ QA\ model/data/Monument_300_paraphrase/embed300.en